<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 1. Define your beans here -->


	<!-- 2. Define the dependency -->
	<bean id="myFortune" class="com.kevinpham.springdemo.HappyFortuneService"></bean>

	<bean id="myCoach" class="com.kevinpham.springdemo.TrackCoach">

		<!-- 3. Set up the constructor injection -->
		<!-- Spring will create Coach object, call the constructor and pass in the myFortune as reference -->
		<constructor-arg ref="myFortune" />

	</bean>


</beans>